svg.w-5.h-5 { 
    width: 16px !important;
    height: 16px !important; 
}
.h-fit{
    height: fit-content !important;
}
@media print {

  html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
  }

  .container, .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }

  .py-4, .pt-4, .mt-3, .mt-4, .mb-3, .mb-4 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .card, .card-header, .card-body {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }
  .container, .card, .card-body, .table-responsive {
    position: static !important;
    transform: none !important;
    filter: none !important;
    perspective: none !important;
  }

  .table-responsive {
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  thead { display: table-header-group; }
  tfoot { display: table-row-group !important; }
  tr { page-break-inside: avoid; }
  tr { break-inside: avoid !important; page-break-inside: avoid !important; }

  #denominationTable th,
  #denominationTable td {
      padding: 4px 6px !important;
  }

  #denominationTable input {
      border: none;
  }
  #denominationSection {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }
}

#denominationTable th,
#denominationTable td {
    padding: 6px 6px;   /* reduce padding */
    vertical-align: middle;
}

#denominationTable input {
    height: 25px;        /* smaller input height */
    padding: 4px 6px;
    font-size: 14px;
}
